<table class='artists'>
  <tr>
    <th></th>
    <th></th>
    <th>
      <div class='badge'>
        <%= link_to('', artists_path(with_existing_query(:order, 'subrank'))) %>
      </div>
    </th>
    <th class='status'></th>
    <%= render partial: 'shared/tables/headers/category' %>
    <%= render partial: 'shared/tables/headers/name' %>
    <%= render partial: 'shared/tables/headers/played_at', locals: { link_name: 'first played' } %>
    <%= render partial: 'shared/tables/headers/played_at' %>
    <%= render partial: 'shared/tables/headers/play_total', object: artists %>
  </tr>
<% artists.each_with_index do |artist, i| %>
  <% if @sublist && i == artists.length - 1 %>
    <tr><td class='blank'></td></tr>
  <% end %>

  <tr>
    <%= render partial: 'shared/tables/rows/ranks', object: artist %>
    <td><%= render partial: 'shared/links/status', locals: { thing: artist } %></td>
    <td><%= render partial: 'shared/links/category', locals: { thing: artist } %></td>
    <td><%= link_to artist.name, artist_path(artist, form_redirect: @current_path) %></td>
    <%= render partial: 'shared/links/timestamp', object: artist.first_played, locals: { color: 'blue' } %>
    <%= render partial: 'shared/links/timestamp', object: artist.last_played %>
    <%= render partial: 'shared/tables/rows/play_total', locals: { collection: artists, record: artist } %>
  </tr>

  <% if @superlist && i == 0 %>
    <tr><td class='blank'></td></tr>
  <% end %>
<% end %>
</table>
