<section id='filters'>
  <%= render partial: 'shared/links/badge_filters' %>
  <%= render partial: 'shared/links/played_at' %>
  <%= render partial: 'shared/forms/name_search', locals: { obj_path: :artists } %>
</section>
<%= render partial: 'shared/order' %>

<section id='list'>
  <%= render partial: 'artists/artists', object: @artists %>
</section>

<%= will_paginate @artists if @artists.respond_to? :total_pages %>

