<h1>
  <%= link_to @artist.subrank, artists_path(category: @artist.category, page: (@artist.subrank/40.0).ceil, order: 'most-played'), class: "diminished" %>
  <% render partial: 'shared/links/category', locals: { thing: @artist } %>
  <%= @artist.name %>
</h1>

<section id='artist-details'>
  <h2>
    <%= link_to @artist.overall_rank-1, artists_path(rank: @artist.overall_rank-1), class: "diminished" unless @artist.overall_rank == 1 %>
    <%= link_to @artist.overall_rank, artists_path(t: @artist.t_value) %>
    <%= link_to @artist.overall_rank+1, artists_path(rank: @artist.overall_rank+1), class: "diminished" %>
  </h2>
  <%= render partial: 'shared/graph', object: @plays_by_year, locals: { category: @artist.category } %>
  <table>
    <tr>
      <%= render partial: 'shared/links/timestamp', object: @artist.first_played, locals: { color: 'blue' } %>
      <%= render partial: 'shared/links/timestamp', object: @artist.last_played %>
      <td><%= render partial: 'shared/time_played_chart', locals: { record: @artist } %></td>
    </tr>
  </table>
</section>

<h3>
  <%= link_to 'releases', releases_path(artist_id: @artist.id, order: 'most-played') %>
  <%= link_to 'recordings', recordings_path(artist_id: @artist.id, order: 'most-played') %>
  <%= link_to 'plays', plays_path(artist_id: @artist.id, order: 'recently-played') %>
</h3>

<section id='artist-releases'>
  <table id='releases'>
    <%= render partial: 'releases/releases', object: @releases, locals: { show_headers: false } %>
  </table>
</section>

<section id='artist-recordings'>
  <table id='recordings'>
    <%= render partial: 'recordings/recordings', object: @recordings, locals: { show_headers: false } %>
  </table>
</section>
