<% if recordings.any? %>
  <tr>
    <th class='rank r'><%= link_to '#', recordings_path(with_existing_query(:order, toggle_order('overall-rank'))) %></th>
    <% if recordings.first.respond_to?(:subrank) %>
      <th class='subrank'></th>
    <% end %>
    <%= render partial: 'shared/tables/headers/category', locals: { scope: :recording } %>
    <%= render partial: 'shared/tables/headers/name' %>
    <th class='length'><%= link_to 'length', recordings_path(with_existing_query(:order, toggle_order('length'))) %></th>
    <th class='id'></th>
    <%= render partial: 'shared/tables/headers/name', locals: { prefix: 'artist' } %>
    <%= render partial: 'shared/tables/headers/year' %>
    <th class='release-name'></th>
    <%= render partial: 'shared/tables/headers/played_at' %>
    <%= render partial: 'shared/tables/headers/play_total', object: recordings %>
  </tr>

  <% recordings.each do |recording| %>
    <tr>
      <td class='rank r'><%= link_to recording.overall_rank, recordings_path(page: (recording.overall_rank/30.0).ceil, order: 'most-played') %></td>
      <% if recording.respond_to?(:subrank) %>
        <td class='subrank r'><%= recording.subrank %></td>
      <% end %>
      <td class='category'><%= render partial: 'shared/links/category', locals: { thing: recording } %></td>
      <td class='name'><%= link_to recording.name, recording_path(recording) %></td>
      <td class='length'>
        <% min_length = recording.display_length.delete(':') %>
        <%= link_to recording.display_length, recordings_path(with_existing_query([:length_min, :length_max], [min_length, min_length])) %>
      </td>
      <td class='id r'>
        (<%= link_to recording.id, lf_path(specific_id: recording.id, redirect: @current_path) %>)
      </td>
      <td class='artist-name'><%= render partial: 'shared/links/artist_names', locals: { thing: recording } %></td>
      <td class='year'><%= link_to recording.year, recordings_path(with_existing_query(:year, recording.year)) %></td>
      <td class='release-name'><%= render partial: 'shared/links/releases', locals: { thing: recording } %></td>
      <%= render partial: 'shared/links/timestamp', object: recording.last_played %>
      <%= render partial: 'shared/tables/rows/play_total', locals: { collection: recordings, record: recording } %>
    </tr>
  <% end %>
<% else %>
  No artist plays.
<% end %>
