<section id='filters'>
  <%= render partial: 'shared/links/badge_filters' %>
  <%= render partial: 'shared/forms/name_search', locals: { obj_path: :recordings } %>
  <%= render partial: 'shared/links/years' %>
  <%= render partial: 'shared/links/played_at' %>
  <%= render partial: 'shared/links/artist' %>
</span>

<section id='recordings-list'>
  <table id='recordings'>
    <%= render partial: 'recordings/recordings', object: @recordings %>
  </table>
</section>

<%= will_paginate @recordings %>
