<% if @recording.present? %>
  <h2>
    <%= render partial: 'shared/links/artist_names', locals: { thing: @recording } %>
  </h2>

  <h1>
    <%= @recording.name %>
    <span class='diminished'>
      <%= render partial: 'shared/links/releases', locals: { thing: @recording } %>
    </span>
  </h1>

  <section id='recordings-list'>
    <table id='recordings'>
      <%= render partial: 'recordings/recordings', object: [@recording] %>
    </table>
  </section>

  <section id='recording-plays'>
    <%= render partial: 'plays/plays', object: @plays %>
  </section>
<% else %>
  Not found.
<% end %>
