<% obj_path = local_assigns.fetch(:obj_path) { 'artists' } %>
<% show_label = local_assigns.fetch(:show_label) { true } %>
<% show_text_field_value = local_assigns.fetch(:show_text_field_value) { true } %>
<% text_field_value = show_text_field_value ? params[:name] : nil %>

<%= form_tag send("#{obj_path}_path"), method: :get do |f| %>
  <% if show_label %>
    name
  <% end %>
  <%= text_field_tag :name, text_field_value, class: 'sm', autocomplete: 'off' %>
<% end %>
