<% if plays.any? %>
  <table id='plays'>
    <% show_headers = local_assigns.fetch(:show_headers) { true } %>
    <% calendar_column = local_assigns.fetch(:calendar_column) { !query[:date].present? } %>
    <% max_plays = plays.max{|a,b| a.num_plays <=> b.num_plays}.num_plays %>
    <% max_width = max_plays > 10 ? max_plays : 10 %>

    <% if show_headers %>
      <tr class='plays-headers'>
        <th class='category'></th>
        <%= render partial: 'shared/tables/headers/played_at', locals: { calendar_column: calendar_column, link_name: 'played at' } %>
        <%= render partial: 'shared/tables/headers/name', locals: { prefix: 'artist' } %>
        <th class='play-length'><%= link_to 'length', plays_path(with_existing_query(:order, toggle_order('length'))) %></th>
        <%= render partial: 'shared/tables/headers/name' %>
        <th class='rank'></th>
        <th class='release-name'>release name</th>
        <th class='release-status'></th>
        <%= render partial: 'shared/tables/headers/year' %>
        <th class='rank-num'></th>
        <th class='num-plays'>total plays</th>
      </tr>
    <% else %>
      <tr><th></th></tr>
    <% end %>

    <% plays.each do |play| %>
      <tr id="play_<%= play.id %>">
        <td>
          <%= link_to releases_path(category: Release.categories.key(play.category)) do %>
            <div class='badge <%= Release.categories.key(play.category) %>'></div>
          <% end %>
        </td>
        <%= render partial: 'shared/links/timestamp', object: play.played_at, locals: { calendar_column: calendar_column, use_highlight: false, color: 'yellow' } %>
        <td class='artist-name'><%= render partial: 'shared/links/artist_names', locals: { thing: play } %></td>
        <td class='r'>
          <% length = Recording.display_length(play.length) %>
          <% min_length = length.delete(':') %>
          <%= link_to length, recordings_path(with_existing_query.merge(length_min: min_length, length_max: min_length)) %>
        </td>
        <td class='recording-name'><%= link_to play.name, recording_path(play.recording_id) %></td>
        <td><%= render partial: 'shared/links/rank', object: play.release_rank, locals: { t_value: play.release_t_value, obj_path: 'releases' } %></td>
        <td class='release-name'><%= link_to play.release_name, release_path(play.release_id) %></td>
        <td><%= render partial: 'shared/links/status', object: Release.statuses.key(play.status) %></td>
        <td><%= link_to play.year, plays_path(year: play.year) %></td>
        <td><%= play.release_rank %></td>
        <td><%= render partial: 'shared/num_plays_chart', locals: { collection: plays, record: play } %></td>
      </tr>
    <% end %>
  </table>

<% end %>
