<% if query[:date].present? %>
  <% date = query[:date].to_date %>
  <% prev_date = date - 1 %>
  <% next_date = date + 1 %>
  <section id='play-date'>
    <h2>
      <%= render partial: 'shared/links/delete', object: with_existing_query(:date, query[:date]) %>
      <%= link_to prev_date.strftime('%-d'), plays_path(with_existing_query(:date, prev_date.strftime('%Y%m%d'))), class: 'diminished' %>
      <%= date.strftime("%a %B") %> <%= link_to date.day.ordinalize, plays_path(date: date.strftime('%Y%m%d')), class: 'bold' %>, <%= date.strftime('%Y (%j)') %>
      <%= link_to next_date.strftime('%-d'), plays_path(with_existing_query(:date, next_date.strftime('%Y%m%d'))), class: 'diminished' %>
    </h2>
  </section>
<% end %>
<%= render partial: 'shared/links/badge_filters' %>
<%= render partial: 'shared/links/played_at' %>
<%= render partial: 'shared/links/years' %>
<%= render partial: 'shared/links/artist' %>
<%= render partial: 'shared/order' %>

<section id='plays-list'>
  <%= render partial: 'plays/plays', object: @plays %>
  <%= will_paginate @plays if @plays.respond_to? :total_pages %>
</section>

