<%= form_for artist do |f| %>
  <%= hidden_field_tag :form_redirect, params[:form_redirect] %>
  <%= render partial: 'shared/links/category', locals: { thing: artist } %>
  <%= f.select :category, Artist.categories.keys, selected: artist.category %>
  <%= check_box_tag :cascade_categories, nil, false %>
  <%= render partial: 'shared/links/status', locals: { thing: artist } %>
  <%= f.select :status, Artist.statuses.keys, selected: artist.status %>
  <%= f.submit "Update Artist" %>
<% end %>
