<%= form_for recording do |f| %>
  <%= hidden_field_tag :form_redirect, params[:form_redirect] || recording_path(recording) %>
  <%= link_to recordings_path(color: recording.category) do %>
    <div class='badge <%= recording.category %>'></div>
  <% end %>
  <%= f.select :category, Recording.categories.keys, selected: recording.category %>
  <%= f.submit "Update Recording" %>
<% end %>
