<section id='controls'>
  <section id='local'>
    <%= render partial: 'artists/forms/edit', locals: { artist: @artist } if @artist.present? %>
    <%= render partial: 'releases/forms/edit', locals: { release: @release } if @release.present? %>
    <%= render partial: 'recordings/forms/edit', locals: { recording: @recording } if @recording.present? %>
  </section>
  <section id='global'>
    <%= render partial: 'plays/forms/new' %>
    <%= render partial: 'releases/forms/import' %>
    <%= button_to "Sign in with Spotify", user_spotify_omniauth_authorize_path %>
  </section>
</section>
