<%
  start_num = local_assigns.fetch(:start_num) { 2006 }
  end_num = local_assigns.fetch(:end_num) { Date.today.year }
  column_count = local_assigns.fetch(:column_count) { end_num - start_num + 1 }
  max_height = local_assigns.fetch(:max_height, 250)
  category = local_assigns.fetch(:category, 'grey')
%>
<figure aria-hidden="true">
  <div class="graph" style="grid:repeat(10, auto) / repeat(<%= column_count %>, auto)">
    <% (start_num..end_num).each_with_index do |i, index| %>
      <% current = graph.find { |j| j.year.to_i == i } %>
      <% value = current.nil? ? 0 : current.play_count %>
      <div class="graph-bar <%= category %>" style="grid-column:<%= index+1 %>;--h:<%= value.to_f / max_height * 100 %>%"></div>
      <span class="graph-label <%= 'bold' if value > max_height %>"><%= value unless value == 0 %></span>
    <% end %>
    <% (start_num..end_num).each_with_index do |i, index| %>
      <span class="graph-year"><%= i % 3 == end_num % 3 ? i : nil %></span>
    <% end %>
  </div>
</figure>
