<section id='nav'>
  <h2>
    <%= link_to 'Recordings', recordings_path, class: (params[:controller] == 'recordings' ? 'active' : '') %>
    <%= link_to 'Releases', releases_path, class: (params[:controller] == 'releases' ? 'active' : '') %>
    <%= link_to 'Artists', artists_path, class: (params[:controller] == 'artists' ? 'active' : '') %>
    <%= link_to 'Plays', root_path, class: (params[:controller] == 'plays' ? 'active' : '') %>
    <%= link_to 'Next', lf_path(redirect: @current_path) %>
    <span id='artist-search'>
      <%= render partial: 'shared/forms/name_search', locals: { obj_path: :artists, show_text_field_value: false, show_label: false } %>
    </span>
  </h2>
</section>
