<% attribute = local_assigns.fetch(:attribute) { 'num_plays' } %>
<% max_plays = collection.max{|a,b| a.num_plays <=> b.num_plays}.num_plays %>
<% max_width = max_plays > 10 ? max_plays : 10 %>
<% color = local_assigns.fetch(:color) { 'black' } %>

<% if record.send(attribute).to_i > 0 %>
  <%= link_to recordings_path(plays: record.send(attribute)) do %>
    <div class='play_chart_container <%= color %>' style='width:<%= (record.send(attribute).to_i.to_f/max_width)*100+10 %>px'>
      <%= record.send(attribute) %>
    </div>
  <% end %>
<% else %>
  0
<% end %>
