<%
  attribute = local_assigns.fetch(:attribute) { 'time_played' }
  max_plays = defined?(collection) ? collection.max{|a,b| (a.send(attribute) || 0) <=> (b.send(attribute) || 0)}.send(attribute).to_i/60000 : 2500
  max_width = max_plays > 10 ? max_plays : 10
  play_time = time_in_hours(record.send(attribute))
  div_class = 'play_chart_container '
  div_class += local_assigns.fetch(:color) { 'black' }
  div_class += ' unplayed' if play_time == '0.0'
%>
<div class='<%= div_class %>' style='width:<%= (play_time.to_f*100/max_width) + 30 %>px'>
  <%= play_time %>
</div>
