<% obj_path = thing.class.name.downcase.pluralize %>
<% artist_links = [] %>
<% thing.json_artists.each do |artist| %>
  <% artist_icon = render partial: 'shared/links/artist_icon', object: artist['id'] %>
  <% order = obj_path == 'plays' ? 'recently-played' : 'most-played' %>
  <% artist_name = link_to(artist['name'], send("#{obj_path}_path", with_existing_query(:artist_id, artist['id']).merge(order: order))) %>
  <% artist_links << [artist_icon, artist_name].join  %>
<% end %>
<%= raw(artist_links.join(", ")) %>
