<% if @filtered_artists %>
  <h2>
    <%= render partial: 'shared/links/delete', object: with_existing_query(:artist_id, query[:artist_id]) %>
    <% artist_links = [] %>
    <% @filtered_artists.each do |artist| %>
      <% artist_links << link_to(artist.name, artist_path(artist.id)) %>
    <% end %>
    <%= raw(artist_links.join(", ")) %>
    <%= render partial: 'shared/links/controller_switch', locals: { link_params: { artist_id: query[:artist_id], order: 'most-played' } } %>
  </h2>
<% end %>
