<section class="badge-filters">
  <div class='link-set'>
    <% status_class = params[:controller] == 'plays' ? Release : params[:controller].singularize.classify.constantize %>
    <% category_class = params[:controller] == 'plays' ? Recording : params[:controller].singularize.classify.constantize %>
    <% tiers = (1..9).to_a %>
    <% applied_rank = tiers.delete(params[:t].try(:to_i)) || params[:t].try(:to_i) %>
    <% applied_statuses = query[:status].present? ? query[:status].split(',') : [] %>
    <% applied_categories = query[:category].present? ? query[:category].split(',') : [] %>
    <% rank_obj_path = params[:controller] == 'artists' ? params[:controller] : 'releases' %>

    <% if applied_rank.present? || applied_statuses.any? || applied_categories.any? %>
      <%= render partial: 'shared/links/delete', object: with_existing_query.except(:t, :status, :category) %>
    <% end %>
    <% if applied_rank.present? %>
      <%= render partial: 'shared/links/rank', locals: { t_value: applied_rank, except: %i(date), obj_path: rank_obj_path } %>
    <% end %>
    <% applied_statuses.each do |status| %>
      <%= render partial: 'shared/links/status', locals: { status: status, except: %i(date) } %>
    <% end %>
    <% applied_categories.each do |category| %>
      <%= render partial: 'shared/links/category', locals: { category: category, except: %i(date) } %>
    <% end %>

    <% if applied_rank.present? || applied_statuses.any? || applied_categories.any? %>
      <span> | </span>
    <% end %>

    <% tiers.each do |t_value| %>
      <%= render partial: 'shared/links/rank', locals: { t_value: t_value, except: %i(date), obj_path: rank_obj_path } %>
    <% end %>
    <% (10..22).to_a.each do |i| %>
      <div class='badge t_value'>
        <%= link_to i, send("#{rank_obj_path}_path", with_existing_query(:t, i).except(:date)), class: 't_value' %>
      </div>
    <% end %>
    <% (status_class.statuses.keys - applied_statuses).each do |status| %>
      <%= render partial: 'shared/links/status', locals: { status: status, except: %i(date) } %>
    <% end %>
    <% (category_class.categories.keys - applied_categories).each do |category| %>
      <%= render partial: 'shared/links/category', locals: { category: category, except: %i(date) } %>
    <% end %>

    <% if query[:category] || query[:status] %>
      <%= render partial: 'shared/links/controller_switch', locals: { link_params: query.slice(:category, :status) } %>
    <% end %>
  </div>
</section>
