<% thing = local_assigns.fetch(:thing) { nil } %>
<% except = local_assigns.fetch(:except) { [] } %>
<% category = thing&.category || category %>
<% obj_path = thing ? thing.class.name.downcase.pluralize : local_assigns.fetch(:obj_path) { params[:controller] } %>
<% obj_class = obj_path.to_s.singularize.classify.constantize %>

<span class='badge <%= category %>'>
  <% except += %i(artist_id release_id) %>
  <%= link_to send("#{obj_path}_path", with_existing_query(:category, category).except(*except)) do %>
    <i class='<%= obj_class.status_icons(nil) %>'></i>
  <% end %>
</span>
