<% link_params = local_assigns.fetch(:link_params) { {} } %>

<% if !link_params.keys.include?(:artist_id) %>
  <span class='badge artists'>
    <% if params[:controller] == 'artists' %>
      <%= raw(Artist.icon) %>
    <% else %>
      <%= link_to artists_path(link_params) do %>
        <%= raw(Artist.icon) %>
      <% end %>
    <% end %>
  </span>
<% end %>
<span class='badge releases'>
  <% if params[:controller] == 'releases' %>
    <%= raw(Release.icon) %>
  <% else %>
    <%= link_to releases_path(link_params) do %>
      <%= raw(Release.icon) %>
    <% end %>
  <% end %>
</span>
<span class='badge recordings'>
  <% if params[:controller] == 'recordings' %>
    <%= raw(Recording.icon) %>
  <% else %>
    <%= link_to recordings_path(link_params) do %>
      <%= raw(Recording.icon) %>
    <% end %>
  <% end %>
</span>
<% if !ApplicationRecord::PLAYED_AT_QUERY_KEYS.any? { |k| query[k].present? } %>
  <span class='badge plays'>
    <% if params[:controller] == 'plays' %>
      <%= raw(Play.icon) %>
    <% else %>
      <%= link_to plays_path(link_params.except(:order)) do %>
        <%= raw(Play.icon) %>
      <% end %>
    <% end %>
  </span>
<% end %>
