<% if %i(play_year play_month play_day play_dow play_hour).any? { |k| query.key?(k) } %>
  <section class='played-at-times'>
    <% if %i(play_year play_month play_day).any? { |k| query.key?(k) } %>
      <%= render partial: 'shared/links/delete', object: with_existing_query.except(:play_year, :play_month, :play_day) %>
    <% end %>

    <% years = query[:play_year]&.split(',')&.sort || [] %>
    <% months = query[:play_month]&.split(',')&.sort || [] %>
    <% days = query[:play_day]&.split(',')&.sort || [] %>

    <% year_part = years.length == 1 ? years.first : Date.today.year %>
    <% month_part = months.length == 1 ? months.first.rjust(2, '0') : '01' %>
    <% day_part = days.length == 1 ? days.first.rjust(2, '0') : '01' %>
    <% link_format = days.length == 1 ? '%-d' : months.length == 1 ? '%b' : '%Y' %>
    <% time_adv = days.length == 1 ? :day : months.length == 1 ? :month : :year %>

    <% if years.length == 1 || months.length == 1 || days.length == 1 %>
      <% link_to_date = Date.parse("#{year_part}#{month_part}#{day_part}") - 1.send(time_adv) %>
      <% link_params = {} %>
      <% link_params[:play_year] = link_to_date.year if years.length == 1 %>
      <% link_params[:play_month] = link_to_date.month if months.length == 1 %>
      <% link_params[:play_day] = link_to_date.day if days.length == 1 %>
      <%= link_to link_to_date.strftime(link_format), send("#{params[:controller]}_path", with_existing_query.merge(link_params)), class: :diminished %>
    <% end %>

    <% if years %>
      <% years.each do |year| %>
        <%= link_to year, send("#{params[:controller]}_path", with_existing_query(:play_year, year)), class: 'bold' %>
      <% end %>
    <% end %>

    <% if query[:play_month] %>
      <% months.each do |month| %>
        <%= link_to Date::ABBR_MONTHNAMES[month.to_i], send("#{params[:controller]}_path", with_existing_query(:play_month, month)), class: 'bold' %>
      <% end %>
    <% end %>

    <% if query[:play_day] %>
      <% query[:play_day].split(',').each do |day| %>
        <%= link_to day, send("#{params[:controller]}_path", with_existing_query(:play_day, day)), class: 'bold' %>
      <% end %>
    <% end %>

    <% if years.length == 1 || months.length == 1 || days.length == 1 %>
      <% link_to_date = Date.parse("#{year_part}#{month_part}#{day_part}") + 1.send(time_adv) %>
      <% link_params = {} %>
      <% link_params[:play_year] = link_to_date.year if years.length == 1 %>
      <% link_params[:play_month] = link_to_date.month if months.length == 1 %>
      <% link_params[:play_day] = link_to_date.day if days.length == 1 %>
      <%= link_to link_to_date.strftime(link_format), send("#{params[:controller]}_path", with_existing_query.merge(link_params)), class: :diminished %>
    <% end %>

    <% if query[:play_hour] %>
      <%= render partial: 'shared/links/delete', object: with_existing_query.except(:play_hour) %>
      <% query[:play_hour].split(',').each do |hour| %>
        <% tmp = hour.to_i - 12 %>
        <% link_name = "#{hour.to_i}am" if tmp < 0 %>
        <% link_name = "12pm" if tmp == 0 %>
        <% link_name = "12am" if tmp == -12 %>
        <% link_name = "#{tmp}pm" if tmp > 0 %>
        <%= link_to link_name, send("#{params[:controller]}_path", with_existing_query(:play_hour, hour)), class: 'bold' %>
      <% end %>
    <% end %>

    <% if query[:play_dow] %>
      <%= render partial: 'shared/links/delete', object: with_existing_query.except(:play_dow) %>
      <% (0..6).to_a.each do |i| %>
        <% name = Date::DAYNAMES[i][0..2] %>
        <% link_class = query[:play_dow].split(',').map(&:to_i).include?(i) ? 'bold' : 'diminished' %>
        <%= link_to name, send("#{params[:controller]}_path", with_existing_query(:play_dow, i)), class: link_class %>
      <% end %>
    <% end %>

    <%= render partial: 'shared/links/controller_switch', locals: { link_params: query.slice(:play_year, :play_month, :play_day, :play_dow, :play_hour) } %>
  </section>
<% end %>
