<% as_badge = local_assigns.fetch(:as_badge) { true } %>
<% t_value = local_assigns.fetch(:t_value) { 10 } %>
<% except = local_assigns.fetch(:except) { [] } %>
<% obj_path = local_assigns.fetch(:obj_path) { params[:controller] } %>
<% link_name = as_badge ? '' : rank %>

<% if as_badge %>
  <div class='badge t<%= t_value %>'>
<% end %>

<% if t_value < 23 %>
  <% if link_name.present? %>
    <%= link_to link_name, send("#{obj_path}_path", with_existing_query(:t, t_value).except(*except)), class: 't_value' %>
  <% else %>
    <%= link_to send("#{obj_path}_path", with_existing_query(:t, t_value).except(*except)), class: 't_value' do %>
      <% if t_value < 10 %>
        <i class='fa-duotone fa-album'></i>
      <% else %>
        <%= t_value %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to link_name, send("#{obj_path}_path", order: 'most-played', page: (t_value.to_i/40.0).ceil), class: 't_value' %>
<% end %>

<% if as_badge %>
  </div>
<% end %>
