<% thing = local_assigns.fetch(:thing) { nil } %>
<% except = local_assigns.fetch(:except) { [] } %>
<% _status = thing&.status || status %>
<% obj_path = thing ? thing.class.name.downcase.pluralize : local_assigns.fetch(:obj_path) { params[:controller] } %>
<% obj_class = obj_path.to_s.singularize.classify.constantize %>

<div class="badge <%= _status %>">
  <%= link_to send("#{obj_path}_path", with_existing_query(:status, _status).except(*except)) do %>
    <i class='<%= obj_class.status_icons(_status) %>'></i>
  <% end %>
</div>
