<% use_highlight = local_assigns.fetch(:use_highlight) { true } %>
<% calendar_column = local_assigns.fetch(:calendar_column) { true } %>
<% color = local_assigns.fetch(:color) { 'red' } %>
<% obj_path = params[:controller] == 'plays' ? 'artists' : params[:controller] %>

<% if timestamp.present? %>
  <% if calendar_column %>
    <td>
      <span class='badge calendar-<%= color %>'>
        <%= link_to plays_path(date: (timestamp - 4.hours).strftime("%Y%m%d")) do %>
          <i class='fa-duotone fa-calendar-lines'></i>
        <% end %>
      </span>
    </td>
  <% end %>
  <% timestamp_class = 'mono' %>
  <% if use_highlight %>
    <% timestamp_distance = (Date.today - timestamp.to_date).to_i / 7 %>
    <% timestamp_distance = 0 if timestamp_distance < 0  %>
    <% timestamp_class += " recent#{timestamp_distance}" %>
  <% end %>
  <td class='last-played <%= timestamp_class %>'>
    <% year = timestamp.strftime('%Y') %>
    <% month = timestamp.strftime('%b') %>
    <% month_param = timestamp.strftime('%-m') %>
    <% day = timestamp.strftime('%d') %>
    <% day_param = timestamp.strftime('%-d') %>
    <% dow = timestamp.strftime('%a') %>
    <% dow_param = timestamp.strftime('%w') %>
    <% hour = timestamp.strftime('%H') %>
    <% minute = timestamp.strftime('%M') %>

    <% year_path = send("#{obj_path}_path", with_existing_query(:play_year, year).except(:play_month, :play_day)) %>
    <% month_path = send("#{obj_path}_path", with_existing_query.except(:order, :play_day).merge(play_year: year, play_month: month_param)) %>
    <% day_path = send("#{obj_path}_path", with_existing_query.except(:order).merge(play_year: year, play_month: month_param, play_day: day_param)) %>
    <% dow_path = send("#{obj_path}_path", with_existing_query(:play_dow, dow_param).except(:play_day)) %>
    <% hour_path = send("#{obj_path}_path", with_existing_query(:play_hour, hour)) %>

    <%= link_to year, year_path %> <%= link_to month, month_path %>-<%= link_to day, day_path %> <%= link_to dow, dow_path %> <%= link_to hour, hour_path %>:<%= minute %>
  </td>
<% else %>
  <% if calendar_column %>
    <td></td>
  <% end %>
  <td></td>
<% end %>
