<% if query[:year] %>
  <% years = query[:year].split(',').map(&:to_i).sort %>
  <section id='year-filters'>
    <h2 class='year'>
      <%= render partial: 'shared/links/delete', object: with_existing_query.except(:year) %>
      <% years_to_link = years.map {|i| [i-1,i,i+1]}.flatten.uniq %>
      <% years_to_link.each do |year| %>
        <% link_class = years.include?(year) ? 'bold' : 'diminished' %>
        <%= link_to year, send("#{params[:controller]}_path", with_existing_query(:year, year)), class: link_class %>
      <% end %>
    </h2>
  </section>
<% end %>
