<% now = Time.zone.now %>

<%= form_tag plays_path do |f| %>
  <%= hidden_field_tag :form_redirect, @current_path %>
  <%= hidden_field_tag :foo, 'foo' %>
  <%= check_box_tag :use_time_params, "true", true %>
  <%= select_tag :year, options_for_select(2006..now.year, now.year), autocomplete: 'off' %>
  <%= select_tag :month, options_for_select(1..12, now.month), autocomplete: 'off' %>
  <%= select_tag :day, options_for_select(1..31, now.day), autocomplete: 'off' %>
  <%= select_tag :hour, options_for_select(0..23, now.hour), autocomplete: 'off' %>
  <%= select_tag :minute, options_for_select(0..59, now.min), autocomplete: 'off' %>
  <%= text_field_tag :recording_id, nil, class: 'x-sm', autocomplete: 'off' %>
  <%= submit_tag 'Create Play' %>
<% end %>
