<% use_time_played = record.respond_to?(:time_played) %>
<% method_name = use_time_played ? 'time_played' : 'num_plays' %>

<td>
  <%= render partial: "shared/#{method_name}_chart", locals: { collection: collection, record: record } %>
</td>
<% if record.respond_to?("sub_#{method_name}") %>
  <td><%= render partial: "shared/#{method_name}_chart", locals: { collection: collection, record: record, color: 'gray', attribute: "sub_#{method_name}" } %></td>
<% end %>
