<% obj_path = local_assigns.fetch(:obj_path) { params[:controller] } %>

<td class='rank'>
  <%= render partial: 'shared/links/rank', object: ranks.overall_rank, locals: { as_badge: false, t_value: ranks.t_value, obj_path: obj_path } %>
</td>
<td class='rank-badge'>
  <%= render partial: 'shared/links/rank', object: ranks.overall_rank, locals: { t_value: ranks.t_value, obj_path: obj_path } %>
</td>
<% if ranks.respond_to?(:subrank) %>
  <td class='subrank'><%= ranks.subrank %></td>
<% end %>
