.badge {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-position: 1px 0px;
  background-repeat: no-repeat;
  border: 1px solid $background;

  i.fa-square {
    color: rgba(0,0,0,0);
  }
}

.badge a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ccc;
  text-align: center;
  vertical-align: top;

  &:hover {
    color: $text-color;
    background: $background;
  }
}

span.badge {
  display: inline-block;
}

.badge {
  &.calendar-red a {
    color: $salmon;
    &:hover { color: $text-color }
  }
  &.calendar-blue a {
    color: $slate-blue;
    &:hover { color: $text-color }
  }
  &.calendar-yellow a {
    color: $special-highlight;
    &:hover { color: $text-color }
  }
  &.delete a {
    color: red;
    &:hover { color: $text-color }
  }
  &.hot a {
    width: 93%;
    height: 96%;
    border-radius: 4px;
    font-size: 80%;
    color: #fefefe;
    background: #FF8F0F;
    &:hover { color: $text-color }
  }
  &.rotation a {
    width: 93%;
    height: 96%;
    border-radius: 4px;
    font-size: 80%;
    color: $yellow;
    background: #0F114C;
    &:hover { color: $text-color }
  }
  &.rising a {
    width: 93%;
    height: 96%;
    border-radius: 4px;
    // font-size: 80%;
    color: $salmon;
    // background: $salmon;
    &:hover { color: $text-color }
  }
  &.explore a {
    color: $forest;
    &:hover { color: $text-color }
  }
  &.salmon {
    background: $salmon;
    border: 1px solid #B03A2E;
  }
  &.brown {
    background: $brown;
    border: 1px solid #873600;
  }
  &.orange {
    background: $orange;
    border: 1px solid #F57C00;
  }
  &.yellow {
    background: lighten($yellow,5);
    border: 1px solid #FDD835;
  }
  &.green {
    background: $green;
    border: 1px solid #00ACC1;
  }
  &.forest {
    background: $forest;
    border: 1px solid #117A65;
  }
  &.blue {
    background: $blue;
    border: 1px solid #21618C;
  }
  &.purple {
    background: $purple;
    border: 1px solid #6C3483;
  }
  &.black {
    background: $black;
    border: 1px solid #17202A;
  }
  &.pink {
    background: $pink;
    border: 1px solid #C2185B;
  }
  &.grey {
    background: $grey;
    border: 1px solid #717D7E;
  }
  &.ground {
    background: $ground;
    border: 1px solid #EB984E;
  }
  // --- t Values
  &.t1 {
    background-color: #222;
    border: 1px solid #17202A;
    a { color: darken(gold,15) }
  }
  &.t2 {
    background-color: darken(gold,6);
    border: 1px solid darken(gold,9);
    a { color: gold }
  }
  &.t3 {
    background-color: lighten(gold,9);
    border: 1px solid lighten(gold,6);
    a { color: darken(gold,9) }
  }
  &.t4 {
    background-color: lighten(orange,40);
    border: 1px solid lighten(orange,36);
    a { color: darken(gold,15) }
  }
  &.t5 {
    background-color: lighten(gold,15);
    border: 1px solid lighten(gold,10);
    a { color: #fff }
  }
  &.t6 {
    background-color: lighten(#73C6B6,20);
    border: 1px solid lighten(#73C6B6,15);
    a { color: #fff }
  }
  &.t7 {
    background-color: lighten(dodgerblue,35);
    border: 1px solid lighten(dodgerblue,30);
    a { color: #fff }
  }
  &.t8 {
    background-color: lighten(#bb8fce,20);
    border: 1px solid lighten(#bb8fce,16);
    a { color: #fff }
  }
  &.t9 {
    background-color: lighten(tomato,25);
    border: 1px solid lighten(tomato,21);
    a { color: #fff }
  }
}
