$gray0: #f6f6f6;
$gray1: #d4d4d4;
$gray2: #a1a1a1;
$gray3: #5a5a5a;
$gray4: #3e3e3e;

$special-highlight: #ffcc99;
$highlight: #ffff88;
$highlight-two: #ffffbb;
$highlight-three: #ffffdd;

$slate-blue-light: #2E86C1;
$slate-blue: #21618C;
$sky-blue: #9FC1F0;

$salmon: #E74C3C;
$brown: #A04000;
$orange: #FFB300;
$yellow: #FFEE58;
$green: #A2D9CE;
$forest: #45B39D;
$blue: #2E86C1;
$purple: #8E44AD;
$black: #2C3E50;
$pink: #F06292;
$grey: #AAB7B8;
$ground: #F0B27A;

$background: #fcfcfc;
$text-color: #1f1f1f;
