figure {
  max-width: 100px;
  height: 220px;
  margin: 0 0 10px 0;
}

.graph {
  display: grid;
  height: 100%;
  column-gap: 0px;
}

.graph-bar {
  grid-row: 2 / -2;
  border-radius: 10px;
  justify-self: center;
  width: 15px;
  height: 100%;

  &.salmon {
    background: #eff linear-gradient(to top, $salmon var(--h), transparent var(--h));
  }
  &.orange {
    background: #eff linear-gradient(to top, $orange var(--h), transparent var(--h));
  }
  &.brown {
    background: #eff linear-gradient(to top, $brown var(--h), transparent var(--h));
  }
  &.yellow {
    background: #eff linear-gradient(to top, $yellow var(--h), transparent var(--h));
  }
  &.green {
    background: #eff linear-gradient(to top, $green var(--h), transparent var(--h));
  }
  &.blue {
    background: #eff linear-gradient(to top, $blue var(--h), transparent var(--h));
  }
  &.forest {
    background: #eff linear-gradient(to top, $forest var(--h), transparent var(--h));
  }
  &.black {
    background: #eff linear-gradient(to top, $black var(--h), transparent var(--h));
  }
  &.grey {
    background: #eff linear-gradient(to top, $grey var(--h), transparent var(--h));
  }
  &.purple {
    background: #eff linear-gradient(to top, $purple var(--h), transparent var(--h));
  }
  &.ground {
    background: #eff linear-gradient(to top, $ground var(--h), transparent var(--h));
  }
  &.pink {
    background: #eff linear-gradient(to top, $pink var(--h), transparent var(--h));
  }
}

.graph-label {
  font-size: 8pt;
  justify-self: center;

  &.bold {
    font-weight: 600;
  }
}

.graph-year {
  justify-self: center;
  margin-top: 0.5em;
  width: 30px;
}
