$default-font: 'Avenir Next';
$mono-font: 'saxMono';

textarea, select, input, button {
  outline: none;
}

section#nav, section#controls {
  form {
    display: inline-block;
  }
}

section#filters {
  form {
    margin-top: 10px;
  }
}

input {
  font-family: $default-font;
  font-size: 10px;
  line-height: 14px;
  padding: 3px 6px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid $gray0;

  &:focus {
    border-color: $gray1;
  }
}

input[type="text"] {
  background: none;
  width: 150px;

  &.x-sm {
    width: 40px;
  }
  &.sm {
    width: 120px;
  }
  &.lg {
    width: 200px;
  }
}

#artist-search {
  input[type="text"]:focus {
    padding: 10px 20px;
    width: 300px;
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
  }
}

input[type="submit"] {
  color: $slate-blue;
  border: 1px solid lighten($slate-blue,20);
  background: $gray0;
  cursor: pointer;

  &:hover {
    background: lighten($slate-blue,50);
  }
}
