/* These styles should be on divs with classes rather than HTML table elements */
/* TODO: Remove all HTML table elements (bad on small screens) */

$timestamp-width: 180px;

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  padding-right: 4px;

  &.blank {
    height: 6px;
  }
}

tr, td {
  max-height: 18px;
}

td.r, th.r {
  text-align: right
}

td.name, td.release-name, td.artist-name, td.recording-name {
  white-space: nowrap;
  overflow: hidden;
}

td.last-played {
  min-width: $timestamp-width;
}

table#releases {
  td.artist-name  { max-width: 375px }
  td.release-name { max-width: 400px }
}

table#recordings {
  td.artist-name  { max-width: 350px }
  td.release-name { max-width: 300px }
}

table#plays {
  td.artist-name  { max-width: 400px }
  td.release-name, td.recording-name { max-width: 300px }
  td.played-at {
    min-width: $timestamp-width;
  }
}

table.artists .play_chart_container {
  min-width: 45px;
}

th.artist-names {
  padding-left: 25px;
}

td.recent0 {
  background: $special-highlight;
}
td.recent1 {
  background: $highlight;
}
td.recent2 {
  background: $highlight-two;
}
td.recent3, td.recent4 {
  background: $highlight-three;
}
