@import 'colors';
@import 'tables';
@import 'forms';
@import 'badges';
@import 'figures';

body {
  font-family: $default-font;
  background: $background;
  margin-left: 50px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}

section {
  margin-top: 10px;
}

#nav h2 {
  margin-bottom: 3px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 400;

  &.active {
    font-weight: 600
  }
}

a:hover {
  color: white;
  background: #1C2833;
}

a .play_chart_container:hover {
  background: #dcdcdc;
  color: #333;
}

.play_chart_container {
  &.black {
    background: #333;
    color: #fff;
  }
  &.gray {
    background: #aaa;
    color: $text-color;
  }
  padding-left: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &.unplayed {
    color: $green;
    background: $background;
  }
}

span.link-set {
  line-height: 18px;
}

div#nav-right {
  float: right;
}
div#nav-right .badge {
  display: inline-block;
}
div#nav-right .category {
  margin: 0;
  display: inline-block;
}
div#nav-right .category a {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,0);
}

.status {
  position: relative;
  width: 20px;
  height: 20px;

  &:before {
    font-size: 16px;
  }
  &.hot:before {
    content: '\1F525'; // flame
  }
  &.rotation:before {
    content: '\2b50';  // yellow star
  }
  &.rising:before {
    content: '\1f377'; // wine glass
  }
  &.explore:before {
    // content: '\1f312'; // waxing crescent moon
    // content: '\1f4ad' // thought bubble
    content: '\1f96c' // kale
  }
  &.box:before {
    content: '\1F4E6';
  }
  &.dead:before {
    content: '\1F480';
  }
  &.in-playlist:before {
    // content: '\1F49F'; // square purple heart
    content: '\1F90D'; // white heart
  }
}
.status a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  &:hover {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
  }
}

div.pagination {
  margin-top: 20px;
}

form.edit_recording, form.edit_release, form.edit_artist {
  div.badge, div.status {
    display: inline-block;
  }
}

.link-set {
  div.badge, div.category, div.status {
    display: inline-block;
  }
}

.mono {
  font-family: $mono-font;
  font-size: 15px;
  padding-right: 10px;
}

.bold {
  font-weight: 700;
}

.diminished {
  font-size: 12px;
  color: $gray1;
}

h1 .diminished {
  font-size: 16px;
  color: $gray3;
}

h2 .badge {
  font-size: 0.8em;
}

section#release-filters {
  span {
    display: inline-block;
  }
}

section#artist-recordings, section#release-recordings {
  table {
    td {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
