<% show_headers = local_assigns.fetch(:show_headers) { true } %>

<% if releases.any? && show_headers %>
  <tr id='releases-headers'>
    <th class='rank'></th>
    <th class='rank-badge'></th>
    <% if releases.first.respond_to?(:subrank) %>
      <th class='subrank'></th>
    <% end %>
    <th class='status'></th>
    <%= render partial: 'shared/tables/headers/category', locals: { obj_path: 'releases' } %>
    <%= render partial: 'shared/tables/headers/name' %>
    <%= render partial: 'shared/tables/headers/year' %>
    <%= render partial: 'shared/tables/headers/name', locals: { prefix: 'artist' } %>
    <%= render partial: 'shared/tables/headers/played_at', locals: { link_name: 'first played' } %>
    <%= render partial: 'shared/tables/headers/played_at' %>
    <th></th>
    <%= render partial: 'shared/tables/headers/play_total', object: releases %>
  </tr>
<% end %>

<% releases.each_with_index do |release, index| %>
  <% if @sublist && index == releases.length - 1 %>
    <tr><td class='blank'></td></tr>
  <% end %>

  <tr>
    <%= render partial: 'shared/tables/rows/ranks', object: release, locals: { obj_path: 'releases' } %>
    <td><%= render partial: 'shared/links/status', locals: { thing: release } %></td>
    <td class='category'><%= render partial: 'shared/links/category', locals: { thing: release } %></td>
    <td class='release-name'><%= link_to release.name, release_path(release, form_redirect: @current_path) %></td>
    <td class='release-year'><%= link_to release.year, releases_path(with_existing_query(:year, release.year)) %></td>
    <td class='artist-name'><%= render partial: 'shared/links/artist_names', locals: { thing: release } %></td>
    <%= render partial: 'shared/links/timestamp', object: release.first_played, locals: { color: 'blue' } %>
    <%= render partial: 'shared/links/timestamp', object: release.last_played %>
    <% if params[:controller] == 'releases' %>
      <td>
        <div class='badge'>
          <% if release.last_played %>
            <% plays_end = (release.last_played + 1.day).strftime('%Y%m%d') %>
            <%= link_to '', releases_path(@query.slice(:year, :category, :status, :t).merge(page: params[:page], plays_end: plays_end)), class: 't_value' %>
          <% end %>
        </div>
      </td>
    <% end %>
    <%= render partial: 'shared/tables/rows/play_total', locals: { collection: releases, record: release } %>
  </tr>

  <% if @superlist && index == 0 %>
    <tr><td class='blank'></td></tr>
  <% end %>
<% end %>
