<% if query %>
  <% if query[:year] %>
    <% years = query[:year].split(',').sort %>
    <%= render partial: 'shared/graph', object: @plays_by_release_year, locals: { start_num: (years.first[0..2] + '0').to_i, end_num: (years.last[0..2] + '9').to_i, max_height: 300 } %>
  <% end %>
  <section id='release-filters'>
    <%= render partial: 'shared/links/badge_filters' %>
    <%= render partial: 'shared/links/played_at' %>
    <%= render partial: 'shared/links/years' %>
    <%= render partial: 'shared/links/artist' %>
  </section>
  <%= render partial: 'shared/order' %>
<% end %>

<section id='release-list'>
  <table id='releases'>
    <%= render partial: 'releases/releases', object: @releases %>
  </table>
  <section id='pages'>
    <% if @releases.respond_to? :total_pages %>
      <%= will_paginate @releases %>
    <% end %>
  </section>
</section>
