<h2>
  <%= render partial: 'shared/links/artist_names', locals: { thing: @release } %>
</h2>

<h1>
  <%= @release.name %>
  <%= link_to @release.year, releases_path(year: @release.year) %>
  <span class='diminished'><%= Date::ABBR_MONTHNAMES[@release.month] if @release.month %></span>
  <span class='diminished'><%= @release.day %></span>
</h1>

<section id='release-details'>
  <% if @release.overall_rank %>
    <h2>
      <%= link_to @release.overall_rank-1, releases_path(rank: @release.overall_rank-1), class: "diminished" unless @release.overall_rank == 1%>
      <%= render partial: 'shared/links/rank', object: @release.overall_rank, locals: { as_badge: false, t_value: @release.t_value } %>
      <%= link_to @release.overall_rank+1, releases_path(rank: @release.overall_rank+1), class: "diminished" %>
    </h2>
  <% end %>
  <%= render partial: 'shared/graph', object: @plays_by_year, locals: { category: @release.category, max_height: 50 } %>
  <table>
    <tr>
      <%= render partial: 'shared/links/timestamp', object: @release.first_played, locals: { color: 'blue' } %>
      <%= render partial: 'shared/links/timestamp', object: @release.last_played %>
      <td><%= render partial: 'shared/time_played_chart', locals: { record: @release } %></td>
    </tr>
  </table>
  <p>(<%= @release.id %>) <%= link_to @release.mbid, import_releases_path(release_mbid: @release.mbid) %></p>
</section>

<section id='release-recordings'>
  <table>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= recording.position %></td>
        <td>
          <%= link_to recordings_path(category: recording.category) do %>
            <div class='badge <%= recording.category %>'></div>
          <% end %>
        </td>
        <td>(<%= link_to recording.id, lf_path(specific_id: recording.id, redirect: @current_path) %>)</td>
        <td class='recording-name'><%= link_to recording.name, recording_path(recording) %></td>
        <td class='artist-name'>
          <%= render partial: 'shared/links/artist_names', locals: { thing: recording } %>
        </td>
        <%= render partial: 'shared/links/timestamp', object: recording.first_played, locals: { color: 'blue' } %>
        <%= render partial: 'shared/links/timestamp', object: recording.last_played %>
        <td>
          <% length = Recording.display_length(recording.length) %>
          <% min_length = length.delete(':') %>
          <%= link_to length, recordings_path(with_existing_query([:length_min, :length_min], [min_length, min_length])) %>
        </td>
        <td>
          <%= render partial: 'shared/num_plays_chart', locals: { collection: @recordings, record: recording } %>
        </td>
      </tr>
    <% end %>
  </table>
</section>

<h1><span class='diminished'><%= Recording.display_length(@recordings.sum{|r| r.length}) %></span></h1>

<h3><%= link_to 'plays', plays_path(release_id: @release.id) %></h3>
