<h2><%= @playlists.length %> playlists </h2>
<table>
  <% @playlists.each do |playlist| %>
    <tr>
      <td><%= link_to playlist.name, playlist_path(playlist) %></td>
      <td><div class='badge <%= Recording.categories.invert[playlist.category] %>'></div></td>
      <td><%= link_to playlist.playlist_recordings.find_by(position: 1)&.recording&.name, playlist_path(playlist) %></td>
      <td><%= playlist.date.strftime('%Y %B %d') if playlist.date.present? %></td>
      <td><%= playlist.recordings.count %> songs </td>
      <td><em><%= playlist.length %></em></td>
    </tr>
  <% end %>
</table>
