<h2><%= @playlist.name %></h2>
<h4><%= @playlist.date.strftime('%B %d, %Y') if @playlist.date.present? %></h4>

<table id='playlist-recordings'>
  <% if @recordings.any? %>
    <% max_plays = @recordings.max{|a,b| a.num_plays <=> b.num_plays}.num_plays %>
    <% max_width = max_plays > 10 ? max_plays : 10 %>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= recording.pos %></td>
        <td>(<%= link_to recording.id, lf_path(specific_id: recording.id, redirect: @current_path) %>)</td>
        <td><div class='badge <%= recording.category %>'></div></td>
        <td><%= link_to recording.artist_name, artist_path(recording.artist_id) %></td>
        <td><%= recording.name %></td>
        <%= render partial: 'shared/links/timestamp', object: recording.last_played %>
        <td><%= Recording.display_length(recording.length) %></td>
        <td>
          <% if recording.num_plays.to_i > 0 %>
            <div class='play_chart_container' style='width:<%= (recording.num_plays.to_i.to_f/max_width)*100+10 %>px'><%= recording.num_plays %></div>
          <% else %>
            0
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <td>Nothing added.</td>
  <% end %>
</table>

<br>

<section>
  <%= form_for PlaylistRecording.new(playlist_id: @playlist.id, position: @playlist.recordings.count+1) do |f| %>
    <%= f.hidden_field :playlist_id %>
    <%= f.text_field :position %>
    <%= f.text_field :recording_id %>
    <%= f.submit %>
  <% end %>
</section>
