<%= form_for release do |f| %>
  <%= hidden_field_tag :form_redirect, params[:form_redirect] || release_path(release) %>
  <%= render partial: 'shared/links/category', locals: { thing: release } %>
  <%= f.select :category, Release.categories.keys, selected: release.category %>
  <%= check_box_tag :cascade_categories, nil, false %>
  <%= render partial: 'shared/links/status', locals: { thing: release } %>
  <%= f.select :status, Release.statuses.keys, selected: release.status %>
  <%= f.submit "Update Release" %>
<% end %>
