<% obj_path = local_assigns.fetch(:obj_path) { 'artists' } %>

<th class='artist-names'>
  <%= link_to 'artist name', send("#{obj_path}_path", with_existing_query.merge(order: toggle_order('artist-name'))) %>
</th>
