<% obj_path = local_assigns.fetch(:obj_path) { 'artists' } %>

<th class='category'>
  <% if results_are_filtered?(:by_date, :by_t) %>
    <div class='badge'>
      <%= link_to '', send("#{obj_path}_path", with_existing_query.merge(order: toggle_order('category'))) %>
    </div>
  <% end %>
</th>
