<% prefix = local_assigns.fetch(:prefix) { nil } %>
<% class_name = [prefix, 'name'].compact.join('-') %>
<% link_name = [prefix, 'name'].compact.join(' ') %>

<th class="<%= class_name %>">
  <%= link_to link_name, send("#{params[:controller]}_path", with_existing_query(:order, toggle_order(class_name))) %>
</th>
