<% use_time_played = play_total.first.respond_to?(:time_played) %>
<% link_name = use_time_played ? 'time played' : 'total plays' %>
<% sub_link_name = use_time_played ? 'sub time played' : 'subtotal' %>
<% class_name = use_time_played ? 'time-played' : 'total-plays' %>
<% method_name = use_time_played ? 'time_played' : 'num_plays' %>

<th class='<%= class_name %>'>
  <%= link_to link_name, send("#{params[:controller]}_path", with_existing_query(:order, toggle_order('most-played'))) %>
</th>
<% if play_total.first.respond_to?("sub_#{method_name}") %>
  <th><%= link_to sub_link_name, send("#{params[:controller]}_path", with_existing_query(:order, toggle_order('sub-most-played'))) %></th>
<% end %>
