<% calendar_column = local_assigns.fetch(:calendar_column) { true } %>
<% link_name = local_assigns.fetch(:link_name) { 'last played' } %>
<% order_by = link_name == 'first played' ? 'recently-discovered' : 'recently-played' %>

<% if calendar_column %>
  <th></th>
<% end %>
<th class='<%= link_name.parameterize %>'>
  <%= link_name %>
  (<%= link_to 'recent', send("#{params[:controller]}_path", with_existing_query(:order, order_by)) %>,
  <%= link_to 'not', send("#{params[:controller]}_path", with_existing_query(:order, "not-#{order_by}")) %>)
</th>
