<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/c8fac941ce.js" crossorigin="anonymous"></script> -->
  </head>

  <body>
    <%= render partial: 'shared/alerts' %>
    <%= render partial: 'shared/nav' %>
    <%= yield %>
    <%= render partial: 'shared/controls' %>
    <div id='muz'>
      <app></app>
    </div>
  </body>
</html>
